<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/styles.css">

    <!-- /src/public/css/styles.css -->
    <!-- href="/css/styles.css"> -->
</head>
<body>
    <div class="wrapper">
    <!-- header section-->
    <header class="header">
        <h1 class="title"></h1>
        <nav class="navbar">
            <li class="navbar__item">
                <a href="" target="_blank">HOME</a>
            </li>
            <li class="navbar__item">
                <a href=#>LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="/src/views/sign-in.html" target="_blank">SINGIN</a>
            </li>
        </nav>
    </header>
    <!-- Main section -->
    <div class="div__succesMessage">
        <span class="span__message-succes">USER NOT FOUND TO DELETE</span>
        <button class="button__goLogin">
            <a href="" target="_blank"></a>TRY AGAIN
        </button>
    </div>
    <!-- footer section -->
</div>
     <footer>
        COPYRIGHT - 2024
    </footer> 