<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <!-- href="/css/styles.css">
     /src/public/css/styles.css -->
    <!-- href="/css/styles.css"> --> 
<body>
    <div class="wrapper">
    <!-- header section-->
    <header class="header">
        <h1 class="title"></h1>
        <nav class="navbar">
            <li class="navbar__item">
                <a href="/user/home" >HOME</a>
            </li>
            <li class="navbar__item">
                <a href='/user/login'>LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="/user/register">SINGIN</a>
            </li>
        </nav>
    </header>
    <!-- Main section -->
    <main>
        <h2 class="main__subtitle">WELCOME HOME</h2>

        <div class="div__home">
            <h4 class="div__subtitle"> Log in or sign in if you're not a member</h4>
        </div>
    </main>
</div>
     <footer>
        COPYRIGHT - 2024
    </footer> 