<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <!-- href="/css/styles.css">
     /src/public/css/styles.css -->
    <!-- href="/css/styles.css"> --> 
<body>
    <div class="wrapper">
    <!-- header section-->
    <header class="header">
        <h1 class="title"></h1>
        <nav class="navbar">
            <li class="navbar__item">
                <a href="/user/home">HOME</a>
            </li>
            <li class="navbar__item">
                <a href='/user/login'>LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="/user/register" target="_blank">SINGIN</a>
            </li>
        </nav>
    </header>
    <!-- Main section -->
    <main>
        <h2 class="main__subtitle">ALREADY A MEMBER? LOG-IN</h2>
    </main>
    <!-- form section -->
    <section class="formulario__section">
        <form class="form" action="/user/login" method="post">
                <input name="username" type="text" placeholder="Inter your username" required>
                <input name="password" required type="password" placeholder="Inter your password">
                <button type="submit">LOG-IN</button>
        </form>
    </section>
    <!-- footer section -->
</div>
     <footer>
        COPYRIGHT - 2024
    </footer> 