<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
    <!-- href="/css/styles.css">
     /src/public/css/styles.css -->
    <!-- href="/css/styles.css"> --> 
<body>
    <div class="wrapper">
    <!-- header section-->
    <header class="header">
        <h1 class="title"></h1>
        <nav class="navbar">
            <li class="navbar__item">
                <a href="/user/home">HOME</a>
            </li>
            <li class="navbar__item">
                <a href="/user/profiles">PROFILE</a>
            </li>
            <li class="navbar__item" >
                <a href="/user/logout">LOGOUT</a>
            </li>
        </nav>
    </header>
    <!-- Main section -->
    <main>
            <h2 class="main__subtitle">HI! WELCOME TO YOUR PROFILE</h2>
            <div class="profile">
                <h4 class="div__subtitle"></h4>
            </div>


            <div class="div__profile">
                <nav class="nav__profile">
                <button class="div__profile-open-nav-button">
                    YOUR INFORMATION
                </button>
                
                    <li class="items__profile">My user information</li>
                    <li class="items__profile">My orders</li>
                    <li class="items__profile">My wishlist</li>
                    <li class="items__profile">setting account</li>
                </nav>
            </div>

    </main>
</div>
     <footer>
        COPYRIGHT - 2024
    </footer> 