<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/styles.css">

     /src/public/css/styles.css -->
    <!-- href="/css/styles.css"> -->
<!-- </head>
<body>
    <div class="wrapper">
     header section-->
    <!-- <header class="header">
        <h1 class="title"></h1>
        <nav class="navbar">
            <li class="navbar__item">
                <a href="" target="_blank">HOME</a>
            </li>
            <li class="navbar__item">
                <a href=#>LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="/src/views/sign-in.html" target="_blank">SINGIN</a>
            </li>
        </nav>
    </header>

    <button id="myBtn">Open Modal</button>
       
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
        </div>

        <script>
            var modal= document.getElementById('mymodal');
            var btn = document.getElementById('myBtn');
            var span = document.getElementsByClassName("close")[0]

        btn.onclick = function(){
            modal.style.display= "block"
        }
        span.onclick = function() {
        modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } --> 




        <!-- </script> -->




    <!-- footer section -->
<!-- </div>
     <footer>
        COPYRIGHT - 2024
    </footer>  -->