<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="/css/styles.css">


    
<!-- href="/css/styles.css">

     /src/public/css/styles.css -->
    <!-- href="/css/styles.css"> --> 
</head>
<body>
    <div class="wrapper">
    <!-- header section-->
    <header class="header">
        <h1 class="title"></h1>
        <nav class="navbar">
            <li class="navbar__item">
                <a href="" target="_blank">HOME</a>
            </li>
            <li class="navbar__item">
                <a href=#>LOGIN</a>
            </li>
            <li class="navbar__item">
                <a href="../views/sign-in.html" target="_blank">SINGIN</a>
            </li>
        </nav>
    </header>
    <!-- Main section -->
    <main>
        <h2 class="subtitle__userLog">NOT A MEMBER? SIGN-IN</h2>
    </main>
    <!-- form section -->
    <section class="formulario__section">
        <form class="form" action="/user/register" method="post">
                <input id="user" name="user" type="text" placeholder="Inter your user" required>
                <input type="email" placeholder="user@gmail.com" id="email" name="email" required>
                <input id="password" name="password" required type="password" placeholder="Inter your password">
                <button type="submit">SIGN-IN</button>
        </form>
    </section>
    <!-- footer section -->
</div>
     <footer>
        COPYRIGHT - 2024
    </footer> 